<html>
<head>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <style>
      div#rpt p {
          font-family: Verdana, Geneva, sans-serif;
          font-size: 12px;
      }

      div#main {
          width: 100%;
          height: 95%;
          color: #000077;
      }
     .strDbqTable {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border: 1px solid #A9A9A9;
          border-collapse: collapse;
      }
      .strDbqTable th, .strDbqTable td {
          padding: 10px;
          text-align: center;
          border: 1px solid #A9A9A9;
      }

      .strDbqTable th {
          background-color: navy;
          color: white;
          height: 40px;
          text-align: center;
          font-weight: bold;
      }

      .strDbqTable td {
          color: black;
          text-align: center;
      }

      .strDbqTable tr.totals {
          background-color: #A9A9A9;
          color: black;
          text-align: center;
          border: 1px solid black;
      }
  </style>
  <script>
      google.load('visualization', '1', {packages: ['corechart', 'bar', 'controls']});
  </script>
</head>
<body>
<%
   @rpt_date = @doc[:_id]
%>
<div id="main">
  <div id="rpt" style="margin: 15px;">
    <h2>Team - a quick status on DAS STR & DBQ activity since the last report:</h2>

    <h3>Summary for <%= format_date(@rpt_date, LONG_DATE) %>:</h3>

    <table class="strDbqTable" style="width:750px">
      <caption>STRs Documents Received from HAIMS: <%= format_date(@rpt_date, SHORT_DATE) %></caption>
      <tr>
        <th>STRs Received</th>
        <th>Veterans</th>
        <th>Processing Time</th>
        <th>First Pass</th>
        <th>Second Pass</th>
        <th>Total HAIMS<br>Transactions</th>
      </tr>
      <tr>
        <td><%= format_number(@doc[:str][:yesterday_count]) %></td>
        <td><%= format_number(@doc[:str][:yesterday_vet_count]) %></td>
        <td><%= format_time_h_m_s(@doc[:str][:audit][:breakdown][:tot_trans_time]) %></td>
        <td><%= format_number(@doc[:str][:audit][:breakdown][:pass1_count]) %></td>
        <td><%= format_number(@doc[:str][:audit][:breakdown][:pass2_count]) %></td>
        <td><%= format_number(@doc[:str][:audit][:breakdown][:pass1_count] + @doc[:str][:audit][:breakdown][:pass2_count]) %></td>
      </tr>
    </table>
    <br><br>
    <table class="strDbqTable" style="width:750px">
      <caption>STRs - Updated Totals: <%= format_date(@rpt_date, SHORT_DATE) %></caption>
      <tr>
        <th>Complete<br>(Received (w/ Cert Memo)</th>
        <th>Partial<br>(One or more documents, no Cert Memo)</th>
        <th>Subscriptions<br>(With no documents)</th>
        <th>Total Subscriptions</th>
        <th>Total Documents</th>
        <th>Total Size GB</th>
      </tr>
      <tr>
        <td>
          <% pct = @doc[:str][:admin_doc_vet]/(@doc[:str][:tot_subscriptions].to_f) * 100 %>
          <%= "#{format_number(@doc[:str][:admin_doc_vet])} (#{pct.round(1)}%)" %>
        </td>
        <td>
          <%
             nbr = @doc[:str][:tot_str_vet_count] - @doc[:str][:admin_doc_vet]
             pct = nbr/(@doc[:str][:tot_str_vet_count].to_f) * 100
          %>
          <%= "#{format_number(nbr)} (#{pct.round(1)}%)" %>
        </td>
        <td>
          <%
           nbr = @doc[:str][:tot_subscriptions] - @doc[:str][:tot_str_vet_count]
           pct = nbr/(@doc[:str][:tot_subscriptions].to_f) * 100
        %>
          <%= "#{format_number(nbr)} (#{pct.round(1)}%)" %>
        </td>
        <td><%= format_number(@doc[:str][:tot_subscriptions]) %></td>
        <td><%= format_number(@doc[:str][:tot_str_count]) %></td>
        <td><%= "#{(@doc[:str][:tot_str_attachments]/(1024.0**3)).round(2)}" %></td>
      </tr>
    </table>
    <br><br>
    <%= render_erb('./jobs/reports/das/daily_report/str_chart.html.erb')%>
    <br><br>
    <table class="strDbqTable" style="width:750px">
      <caption>DBQ Daily Summary: <%= format_date(@rpt_date, SHORT_DATE) %></caption>
      <tr>
        <th>Vendor</th>
        <th>Documents Received</th>
        <th>Veterans</th>
        <th>Facilities and External Vendor(s)</th>
        <th>DBQ Exam Types</th>
      </tr>
      <tr>
        <% capri_counts_arr = get_dbq_counts(@doc[:dbq][:capri_line])%>
        <td>Capri</td>
        <td><%= format_number(capri_counts_arr[0])%></td>
        <td><%= format_number(capri_counts_arr[1])%></td>
        <td><%= format_number(capri_counts_arr[2])%></td>
        <td><%= format_number(capri_counts_arr[3])%></td>
      </tr>
      <tr>
        <% external_vendor_counts = get_dbq_counts(@doc[:dbq][:external_vendor_line], true)%>
        <td>External Vendors</td>
        <td><%= format_number(external_vendor_counts[0])%></td>
        <td><%= format_number(external_vendor_counts[1])%></td>
        <td>N/A</td>
        <td><%= format_number(external_vendor_counts[2])%></td>
      </tr>
      <tr class="totals">
        <% total_counts_arr = get_dbq_counts(@doc[:dbq][:das_line])%>
        <td>Totals:</td>
        <td><%= format_number(total_counts_arr[0])%></td>
        <td><%= format_number(total_counts_arr[1])%></td>
        <td><%= format_number(total_counts_arr[2])%></td>
        <td><%= format_number(total_counts_arr[3])%></td>
      </tr>
    </table>
    <br><br>
    <table class="strDbqTable" style="width:485px">
      <caption>DBQs - Updated Totals: <%= format_date(@rpt_date, SHORT_DATE) %></caption>
      <tr>
        <th>Mongo Collection</th>
        <th>Oracle DB</th>
        <th>Total Documents</th>
      </tr>
      <tr>
        <td><%= format_number(@doc[:dbq][:completed_count]) %></td>
        <td>16,447</td>
        <td><%= format_number(@doc[:dbq][:completed_count] + 16447) %></td>
      </tr>
    </table>
    <br><br>
    <%= render_erb('./jobs/reports/das/daily_report/dbq_chart_slider.html.erb') %>
    <br><br>
    <%= render_erb('./jobs/reports/das/daily_report/data_storage2.html.erb') %>
    <br><br>
  </div>
</div>

</body>
</html>
