<style>
    .STR_stubChart {
        width: 49.7%;
        height: 175px;
        background-color: white;
        color: black;
        border: 2px solid #16365D;
    }

    .STR_stubChart2 {
        width: 49.7%;
        background-color: white;
        color: black;
        border: 2px solid #16365D;
    }

    .STR_textHeading {
        background-color: navy;
        float: left;
        width: 100%;
    }

    div#chart_label_right {
        font-size: 16px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        float: left;
        width: 80%;
        height: 25px;
    }

    div#chart_label_left {
        font-size: 16px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        float: right;
        height: 25px;
    }

</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
    google.load('visualization', '1', {packages: ['corechart', 'bar', 'controls']});
    google.setOnLoadCallback(drawSTRCharts);

    function drawSTRCharts() {
        drawSTRAuditCharts();
        drawSTRDownloadsBarChart();
        drawSTRDownloadsColumnChart();
        drawSTRDownloadSizeScatter();
    }

    function drawSTRComboChart(config) {
        var data = new google.visualization.DataTable();

        for (var i = 0; i < config.cols.length; i++) {
            data.addColumn(config.cols[i][0], config.cols[i][1]);
        }

        data.addRows(config.data);

        var options = {
            title: config.title ? config.title : 'DAS: STR First Pass (Query) Transactions with HAIMS',
            isStacked: true,
            seriesType: "bars",
            series: config.series,
            vAxes: {
                0: {title: 'Counts'}, // Left y-axis.
                1: {side: 'right', title: 'Seconds', viewWindow: config.viewWindow, gridlines: {count: 11}} // Right y-axis.
            },
            legend: {position: 'top', alignment: 'center'},
            hAxis: {
                title: 'Time (ET)',
                gridlines: {count: 24},
                format: 'h a'
            }
        };

        var chart = new google.visualization.ComboChart(document.getElementById(config.div));
        chart.draw(data, options);
    }

    function drawSTRAuditCharts() {
        var firstPassConfig = {
            div: 'STR_first_pass_combo_div',
            cols: [['date', 'Time of Day'], ['number', '1p Success'], ['number', '1p Failures'], ['number', '1p Avg Response Time']],
            series: {
                0: {targetAxisIndex: 0},
                1: {targetAxisIndex: 0},
                2: {targetAxisIndex: 1, type: "line", color: 'green', lineDashStyle: [4, 4]}
            },
            <%= get_str_audit_as_js(@doc, '1p')%>
        };

        drawSTRComboChart(firstPassConfig);

        var secondPassConfig = {
            title: 'DAS: STR Second Pass (Document Retrieval) Transactions with HAIMS',
            div: 'STR_second_pass_combo_div',
            cols: [['date', 'Time of Day'], ['number', '2p Success'], ['number', '2p Failures'],
                ['number', 'Documents Saved'], ['number', '2p Avg Response Time']
            ],
            series: {
                0: {targetAxisIndex: 0},
                1: {targetAxisIndex: 0},
                2: {targetAxisIndex: 0, type: "scatter", color: 'silver', pointSize: 4},
                3: {targetAxisIndex: 1, type: "line", color: 'green', lineDashStyle: [4, 4]}
            },
            <%= get_str_audit_as_js(@doc, '2p')%>
        };
        drawSTRComboChart(secondPassConfig);
    }

    function drawSTRDownloadsBarChart() {
        var dataArr = <%= get_str_download_total_data(@doc) %>; //['Type', 'Unique Documents', 'Total Documents']
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Type');
        data.addColumn('number', 'Unique Documents');
        data.addColumn('number', 'Total Documents');
        data.addRows(dataArr);

        //TODO: add annotation on each bar
        //https://google-developers.appspot.com/chart/interactive/docs/gallery/barchart

        var options = {
            title: 'DAS: Documents Downloaded from HAIMS',
            chart: {subtitle: 'subT'},
            chartArea: {left: 250, width: '55%'},
            //axisTitlesPosition: 'out',
            //animation: {startup: true},
            titleTextStyle: {fontSize: 18},
            subtitle: 'Number of Documents by STR Document Title',
            legend: {position: 'top', alignment: 'end'},
            //height: 500,
            hAxis: {
                gridlines: {count: 6}
            },
            vAxis: {
                textStyle: {fontSize: 10}
            },
            bars: 'horizontal'
        };

        var chart = new google.visualization.BarChart(document.getElementById('STR_bar_chart_div'));
        chart.draw(data, options);
    }

    function drawSTRDownloadsColumnChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'STR Documents');

        var dataArr = <%= get_str_daily_data %>;
        data.addRows(dataArr);

        var options = {
            title: 'DAS: Documents Downloaded from HAIMS (last 120 Days)',
            titleTextStyle: {fontSize: 18},
            isStacked: true,
            legend: {position: 'none', alignment: 'end'},
            hAxis: {
                title: 'Date',
                titleTextStyle: {bold: true, fontSize: 12},
                textStyle: {fontSize: 9},
                gridlines: {color: 'none', count: 15},
                format: 'M/d/yyyy'
            },
            vAxis: {
                title: 'Number of documents downloaded',
                titleTextStyle: {bold: true, fontSize: 12},
                gridlines: {count: 11},
//                viewWindowMode:'explicit',
                viewWindow: {
                    max:50000,
                    min:0
                }
            }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('STR_download__columnChart_div'));
        chart.draw(data, options);
    }

    function drawSTRDownloadSizeScatter() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Document #');
        data.addColumn('number', 'Document less than 100 MB');
        data.addColumn('number', 'Document 100 MB and larger');

        var dataArr = <%=get_scatter_plot_data %>;
        data.addRows(dataArr);

        var options = {
            title: 'DAS: Size of STR Documents received from HAIMS (in MB), last 24 hrs',
            hAxis: {title: 'Document #', gridlines: {count: 6}},
            vAxis: {title: 'Document Size (In MB)', gridlines: {count: 8}},
            legend: {position: 'top', alignment: 'center'}
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('STR_size_scatter'));

        chart.draw(data, options);
    }
</script>
<div style="height: 664px; width: 99%; background-color:navy; color:white; border: 12px solid navy;">
  <div id="chart_label_right">DAS Service Treatment Records (STRs): Key Statistics</div>
  <div id="chart_label_left">Through <%= format_date(@doc[:_id]) %></div>

  <div style="" class="STR_textHeading">Details for <%= format_date(@doc[:_id], NORMAL_DATE) %></div>
  <div id="STR_first_pass_combo_div" style="float: left;" class="STR_stubChart">Picture 7 - Stack Chart, dual vAxis</div>
  <div id="STR_second_pass_combo_div" style="float: right;" class="STR_stubChart">Picture 8 - Stack Chart, dual vAxis</div>
  <div style="width: 100%" class="STR_textHeading">Running Totals</div>
  <div style="width: 100%; float: left;">
    <div style="float: left; width: 49.7%;">
      <div style="width: 100%;" class="STR_stubChart2">
        <div id="STR_download__columnChart_div" style="height: 220px;">Column Chart</div>
      </div>
      <div id="STR_size_scatter" style="width: 100%; height: 200px;" class="STR_stubChart2">Scatter Chart</div>
    </div>
    <div id="STR_bar_chart_div" class="STR_stubChart2" style="float: right; height: 424px; ">Bar Chart</div>
  </div>
</div>
