<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <style>
      #flash_notice {
          width: 400px;
          border: 2px solid green;
          padding: 7px;
          padding-bottom: 12px;
          margin-bottom: 20px;
          background-color: #f0f0f0;
      }
      #flash_error {
          width: 400px;
          border: 2px solid red;
          padding: 7px;
          padding-bottom: 12px;
          margin-bottom: 20px;
          background-color: #f0f0f0;
      }
      span.run_at_footer {
          font-size: smaller;
          height: auto;
          padding: 12px;
          margin-bottom: 20px;
      }
  </style>
  <title><%= @page_title %></title>
</head>
<body>
<%= content_tag(:div, raw(flash[:notice]), :id => 'flash_notice') if flash[:notice] %>
<%= content_tag(:div, raw(flash[:error]), :id => 'flash_error') if flash[:error] %>
<%= render :partial => 'email_job_result' %>

<% if @text_result %>
    <pre><%= @result.gsub(/.*EMAIL_RESULT_.*/,'').gsub(/.*SUBJECT:.*/,'') %></pre>
<% else %>
    <%= raw @result.gsub(/.*EMAIL_RESULT_.*/,'').gsub(/.*SUBJECT:.*/,'') %>
<% end %>
<span class="run_at_footer"><%= "Report Generated: #{h display_time(@job_log_entry.finish_time)}"%></span>
</body>
</html>
