<%= javascript_include_tag 'jquery.timer.js' %>

<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }">
</script>

<script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);
    var chart;
    var data;
    var options;
    var myView;
    var now = new Date();
    var midnightEpoch = now.setUTCHours(0, 0, 0, 0);
    var symbolIdx = {};
    var originalTitle = '<%=@json_data_hash[:chart_title]%>';

    function drawChart() {
        data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Time');

        <%@json_data_hash[:element_description].each do |description|  %>
        <%= raw "data.addColumn('number', '#{description}');"%>
        <%end%>

        data.addRows([<%= add_rows %>]);

        options = {
            title: <%=raw("'#{@json_data_hash[:chart_title]}\\n#{@json_data_hash[:time_span]}'")%>,
            hAxis: {
                title: <%=raw("'#{@json_data_hash[:x_title]}'")%>
            },
            vAxis: {
                title:<%=raw("'#{@json_data_hash[:y_title]}'")%>
            },

            explorer: {
                actions: ['dragToZoom', 'rightClickToReset'],
                maxZoomIn: .01,
                keepInBounds: true,
                axis: 'horizontal'
            }

        };
        myView = new google.visualization.DataView(data);
        chart = new google.visualization.LineChart(
                document.getElementById('chartContainer'));
        chart.draw(myView, options);
    }

    function updateChart() {
        $.ajax({
            url: "<%=real_time_charting_real_time_chart_path%>?format=json", success: function (result) {
                chart.clearChart();
                data = new google.visualization.DataTable();
                data.addColumn('datetime', 'Time');
                <%@json_data_hash[:element_description].each do |description|  %>
                <%= raw "data.addColumn('number', '#{description}');"%>
                <%end%>
                var rows = [];
                var rtd = result['real_time_data'];
                for (var index in rtd) {
                    var tc = rtd[index].Total_Count;
                    var et = rtd[index].end_time_epoch;
                    rows.push([new Date(et), tc]);
                }
                data.addRows(rows);
                myView = new google.visualization.DataView(data);
                chart.draw(myView, options);
                // alert(JSON.stringify(result));
            }
        });
    }
    var timer = $.timer(function () {
        updateChart()
    });
    timer.set({time: <%=@json_data_hash[:refresh_interval]%>, autostart: true});
    timer.play(true);

</script>

<h1>DAS Real Time Charting</h1>

<div id="chartContainer" style="height: 480px; width: 95%;margin: 5px; padding: 5px; border-bottom: solid; border-top: solid; border-color: navy"/>
