<style>
    .DBQ_stubChart {
        width: 100%;
        height: 85;
        background-color: white;
        color: black;
        border: 2px solid #16365D;
        adding: 2;
    }

    .DBQ_stubChart2 {
        width: 45%;
        padding-top: 10;
    }

    .DBQ_textHeading {
        background-color: #1B49A0;
        float: left;
        width: 100%;
        padding: 2;
    }

    .dbqBottomLabel {
        background-color: #1B49A0;
        color: white;
        border: 1 solid #1B49A0;
        padding: 5;
    }

    .dbqTotals {
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: larger;
        width: 225;
        padding: 5;
        text-align: center;
        vertical-align: bottom;
        border: 1 solid #1B49A0;
    }

    .overlay-marker {
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: white;
        color: black;
        font-size: 16;
        font-weight: bold;
    }
</style>
<%

%>
<script>
    //[date, count]
    var data = [
        <% data = get_chart_data
           data.each do |d|
        %>
        [new Date('<%= format_date(d[:_id])%>'), <%=d[:dbq][:capri_count]%>, <%=d[:dbq][:external_count]%>]<%= data.last.eql?(d) ? '' : ',' %>
        <% end %>
    ];

     function drawDBQStacked() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'CAPRI');
        data.addColumn('number', 'External Vendors');

        data.addRows(dbqData);

        var options = {
            title: 'DAS: Daily DBQ Submissions',
            titleTextStyle: {fontSize: 18},
            isStacked: true,
            legend: {position: 'top', alignment: 'end'},
            hAxis: {
                title: 'Date Submitted to DAS',
                titleTextStyle: {bold: true, fontSize: 12},
                textStyle: {fontSize: 9},
                gridlines: {color: 'none', count: 15},
                format: 'M/d/yyyy',
                viewWindow: {
                    max: new Date('<%=format_date(@doc[:_id])%>')
                }
            },
            vAxis: {
                title: 'Number of DBQs Submitted',
                titleTextStyle: {bold: true, fontSize: 12},
                gridlines: {count: 9}
            }
        };

        var divEl = document.getElementById('dbq_column_chart_div');

        function placeMarker(dataTable) {
            var cli = this.getChartLayoutInterface();
            var chartArea = cli.getChartAreaBoundingBox();
            // "Zombies" is element #5.
            var overlayDiv = document.querySelector('.overlay-marker');
            overlayDiv.style.top = divEl.offsetTop + (chartArea.height * 0.69) + "px";
            overlayDiv.style.left = divEl.offsetLeft + (chartArea.width * 1.18) + "px";
            overlayDiv.innerHTML = dbqData[dbqData.length - 1][1] + dbqData[dbqData.length - 1][2];
        };

        var chart = new google.visualization.ColumnChart(divEl);
        google.visualization.events.addListener(chart, 'ready', placeMarker.bind(chart, data));
        chart.draw(data, options);
    }

</script>

<div style="height: 640; width: 97%; background-color:#16365D; color:white; border: 12px solid #16365D;">
  <div style="color:white; float: left; width: 100%;">
    <div style="float: left; width: 80%;">DAS Immunization (Walgreens): Key Statistics</div>
    <div style="float: right;">Through ***report date<%#= format_date(@doc[:_id]) %></div>
  </div>
  <div style="" class="DBQ_textHeading">DBQ Details by Submitting Entity for: <%= format_date(@doc[:_id]) %></div>
  <div id="dbq_bar_chart_div" style="float: left;" class="DBQ_stubChart">Stacked Bar Chart, External vs. CAPRI</div>
  <div style="" class="DBQ_textHeading">Running Totals</div>
  <div id="dbq_column_chart_div" style="width: 100%; float: left; height: 450">
    DAS: Daily Immunuzations - Column Chart
  </div>
  <div class="overlay-marker">
    0001
  </div>
  <%# dbq_chart_hash = dbq_chart_points(@doc) %>
  <div style="width: 100%; float: left;">
    <div class="DBQ_stubChart2" style="float: left;">
      <div style="float: left; " class="dbqBottomLabel">Total DBQs Submitted:</div>
      <div id="total_dbq_submitted_div" style="float: left;" class="dbqTotals"><%#= format_number(dbq_chart_hash[:dbqs_submitted]) %></div>
    </div>
    <div class="DBQ_stubChart2" style="float: right; ">
      <div id="total_size_div" style="float: right; " class="dbqTotals"><%#= dbq_chart_hash[:dbq_tot_size] %> GB</div>
      <div style="float: right; " class="dbqBottomLabel">Total Size of DBQ Document:</div>
    </div>
  </div>
</div>
